# Some Starter Code for Retrieving Data Using API
In this notebook I include a basic example of 
1. retrieving data using [SemanticScholar APIs](https://api.semanticscholar.org/graph/v1)
2. store it in a pandas dataframe  
3. write it to a .csv file.

In [2]:
import requests 
import pandas as pd 
import json

As an example, the following API performs a search by keyword and:
1. Returns with total=639637, offset=0, next=100, and data is a list of 100 papers.
2. Each paper has paperId, year, referenceCount, citationCount, influentialCitationCount and fieldsOfStudy 

Feel free to change the strings after 'query=' and 'fields='to specify what keyword you want to search and what fields, i.e. data, you want the API to return.  Add 'limit=' to specify how many data you want it to return.
For more information on other APIs refer to [SemanticScholar APIs](https://api.semanticscholar.org/graph/v1)

In [26]:
response = requests.get('https://api.semanticscholar.org/graph/v1/paper/search?query=covid&fields=year,referenceCount,citationCount,influentialCitationCount,fieldsOfStudy&offest=0&limit=100')

Note here the response.json() is a dictionary with keys 'total', 'offset','next', and 'data'. Here the value of the key 'data' is of our interest, and it is a list of dictionaries. Each dictionary stores the relevant data of a paper specified in your query. 

It seems you can only retrieve 100 data points per request. To retrieve the next 100 papers, use 'offset=100&limit =100'.

The following cell is a example of storing the retrived data into a pandas dataframe and write it into a csv file.

In [28]:
df = pd.DataFrame(response.json()['data'])
df

,paperId,year,referenceCount,citationCount,influentialCitationCount,fieldsOfStudy
0,8e787e925eeb7ad735a228b2b1e8dd6d9620be83,2020,43,14223,483,[Medicine]
1,97881c6577c310f50fc86738c0268896b970dfa4,2020,12,10037,339,[Medicine]
2,ca019e1e38edf9d2112ea987362da454f909ac1b,2020,4,4737,227,[Medicine]
3,c273cb0fcab40abe02805c689806f59c50b7d640,2020,16,5247,134,[Medicine]
4,d23288ee99138421d6a771a14a98a9cdddd97f98,2020,5,4954,140,[Medicine]
...,...,...,...,...,...,...
95,90dae4893fea17a5bf57c3cc34bfa9f9c065845b,2020,37,1009,39,[Medicine]
96,770b665c6941f8ae96cc7ef4ec434b059108bdac,2020,23,759,52,"[Computer Science, Engineering, Physics, Medic..."
97,525065701dcc1a0c8ee64e22a832343e663da46e,2020,41,812,44,[Medicine]
98,f593e1eda77495997c0e21deb48656b57099620b,2020,29,722,43,"[Biology, Medicine]"
99,570ef597842090b926ac90d77cabe581f6aa95fb,2020,88,666,45,[Medicine]

In [29]:
df.describe()

         year  referenceCount  citationCount  influentialCitationCount
count   100.0      100.000000     100.000000                100.000000
mean   2020.0       52.520000    2158.760000                 73.860000
std       0.0       57.113476    1760.657408                 61.115063
min    2020.0        0.000000     666.000000                 27.000000
25%    2020.0       17.750000    1308.250000                 46.000000
50%    2020.0       35.500000    1725.500000                 57.000000
75%    2020.0       62.000000    2358.000000                 77.500000
max    2020.0      353.000000   14223.000000                483.000000

In [31]:
df.to_csv('data.csv',index=False) # this writes a csv file to the current working directory

Disiplines: [Math,Physics,Chemetry,Computer science, Aeronautics, Material Science, Civil Engineering, Biology, Medicine, scociology,economics]
1k data points for each disipline
search by year & disipline

For each paper, get author ID, perform a search with author ID, get papers and citation count published by the author, calculate H-index. 


Models:
1.Linear Regression (with kernel)
2.NN

use Pytorch