# Some Starter Code for Retrieving, and Analyzing Data Using API
In this notebook I include a basic example of 
1. retrieving data using [SemanticScholar APIs](https://api.semanticscholar.org/graph/v1)
2. store it in a pandas dataframe  
3. write it to a .csv file.

In [1]:
import requests 
import pandas as pd

As an example, the following API performs a search by keyword and:
1. Returns with total=639637, offset=0, next=100, and data is a list of 100 papers.
2. Each paper has paperId, abstract, year, referenceCount, citationCount, influentialCitationCount and fieldsOfStudy 

Feel free to change the strings after 'query=' and 'fields='to specify what keyword you want to search and what fields, i.e. data, you want the API to return.  Add 'limit=' to specify how many data you want it to return.
For more information on other APIs refer to [SemanticScholar APIs](https://api.semanticscholar.org/graph/v1)

In [33]:
response = requests.get('https://api.semanticscholar.org/graph/v1/paper/search?&query=covid&fields=abstract,year,referenceCount,authors,citationCount,influentialCitationCount,fieldsOfStudy&offest=0&limit=100')

An example of the paper instance returned by the above API call

In [35]:
response.json()['data'][0]

{'paperId': '8e787e925eeb7ad735a228b2b1e8dd6d9620be83',
 'abstract': '\n               Summary\n               \n                  Background\n                  Since December, 2019, Wuhan, China, has experienced an outbreak of coronavirus disease 2019 (COVID-19), caused by the severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). Epidemiological and clinical characteristics of patients with COVID-19 have been reported but risk factors for mortality and a detailed clinical course of illness, including viral shedding, have not been well described.\n               \n               \n                  Methods\n                  In this retrospective, multicentre cohort study, we included all adult inpatients (≥18 years old) with laboratory-confirmed COVID-19 from Jinyintan Hospital and Wuhan Pulmonary Hospital (Wuhan, China) who had been discharged or had died by Jan 31, 2020. Demographic, clinical, treatment, and laboratory data, including serial samples for viral RNA detection, were extracted from electronic medical records and compared between survivors and non-survivors. We used univariable and multivariable logistic regression methods to explore the risk factors associated with in-hospital death.\n               \n               \n                  Findings\n                  191 patients (135 from Jinyintan Hospital and 56 from Wuhan Pulmonary Hospital) were included in this study, of whom 137 were discharged and 54 died in hospital. 91 (48%) patients had a comorbidity, with hypertension being the most common (58 [30%] patients), followed by diabetes (36 [19%] patients) and coronary heart disease (15 [8%] patients). Multivariable regression showed increasing odds of in-hospital death associated with older age (odds ratio 1·10, 95% CI 1·03–1·17, per year increase; p=0·0043), higher Sequential Organ Failure Assessment (SOFA) score (5·65, 2·61–12·23; p<0·0001), and d-dimer greater than 1 μg/mL (18·42, 2·64–128·55; p=0·0033) on admission. Median duration of viral shedding was 20·0 days (IQR 17·0–24·0) in survivors, but SARS-CoV-2 was detectable until death in non-survivors. The longest observed duration of viral shedding in survivors was 37 days.\n               \n               \n                  Interpretation\n                  The potential risk factors of older age, high SOFA score, and d-dimer greater than 1 μg/mL could help clinicians to identify patients with poor prognosis at an early stage. Prolonged viral shedding provides the rationale for a strategy of isolation of infected patients and optimal antiviral interventions in the future.\n               \n               \n                  Funding\n                  Chinese Academy of Medical Sciences Innovation Fund for Medical Sciences; National Science Grant for Distinguished Young Scholars; National Key Research and Development Program of China; The Beijing Science and Technology Project; and Major Projects of National Science and Technology on New Drug Creation and Development.\n               \n            ',
 'year': 2020,
 'referenceCount': 43,
 'citationCount': 14367,
 'influentialCitationCount': 485,
 'fieldsOfStudy': ['Medicine'],
 'authors': [{'authorId': '47978673', 'name': 'F. Zhou'},
  {'authorId': '2087140469', 'name': 'Ting Yu'},
  {'authorId': '50335528', 'name': 'R. Du'},
  {'authorId': '39306319', 'name': 'Guohui Fan'},
  {'authorId': '47909039', 'name': 'Y. Liu'},
  {'authorId': '2109253132', 'name': 'Zhibo Liu'},
  {'authorId': '51036064', 'name': 'J. Xiang'},
  {'authorId': '2115737945', 'name': 'Ye-ming Wang'},
  {'authorId': '2113346284', 'name': 'Bin Song'},
  {'authorId': '2813542', 'name': 'Xiaoying Gu'},
  {'authorId': '1600625614', 'name': 'Lulu Guan'},
  {'authorId': '47508747', 'name': 'Yuan Wei'},
  {'authorId': '13032167', 'name': 'H. Li'},
  {'authorId': '47149736', 'name': 'Xudong Wu'},
  {'authorId': '46178330', 'name': 'Jiuyang Xu'},
  {'authorId': '47381077', 'name': 'Shengjin Tu'},
  {'authorId': '48379332', 'name': 'Y. Zhang'},
  {'authorId': '39458874', 'name': 'H. Chen'},
  {'authorId': '144948995', 'name': 'B. Cao'}]}

Using api to access a author using authorID

In [5]:
response_author = requests.get('https://api.semanticscholar.org/graph/v1/author/1741101?fields=papers,papers.citationCount')
papers = response_author.json()['papers']

In [18]:
paper_citation = []

for i in papers:
    paper_citation.append(i['citationCount'])

paper_citation

[0,
 0,
 0,
 16,
 0,
 35,
 325,
 163,
 41,
 2,
 4,
 174,
 226,
 5,
 21,
 107,
 15,
 11,
 43,
 4,
 9,
 24,
 70,
 114,
 104,
 18,
 2,
 4,
 82,
 21,
 47,
 94,
 122,
 12,
 0,
 34,
 77,
 18,
 1,
 66,
 37,
 155,
 0,
 361,
 101,
 1,
 107,
 1,
 0,
 6,
 307,
 38,
 88,
 0,
 1,
 689,
 47,
 582,
 111,
 106,
 7,
 20,
 1249,
 123,
 0,
 475,
 10,
 1,
 1206,
 69,
 4,
 37,
 72,
 183,
 4,
 0,
 41,
 0,
 188,
 30,
 4,
 88,
 40,
 8,
 0,
 67,
 4,
 108,
 120,
 1,
 29,
 3,
 15,
 2226,
 4,
 0,
 404,
 78,
 63,
 5,
 58,
 0,
 32,
 68,
 0,
 38,
 80,
 28,
 90,
 8,
 326,
 52,
 0,
 28,
 15,
 178,
 1,
 1,
 7,
 28,
 16,
 46,
 23,
 3,
 7,
 54,
 140,
 220,
 1,
 1212,
 0,
 99,
 124,
 145,
 2092,
 6,
 0,
 27,
 149,
 58,
 190,
 888,
 55,
 59,
 6,
 3,
 25,
 23,
 21,
 7,
 2,
 13,
 61,
 133,
 75,
 26,
 106,
 129,
 153,
 458,
 70,
 0,
 22,
 1,
 32,
 7,
 1,
 38,
 161,
 333,
 0,
 293,
 29,
 0,
 1,
 247,
 240,
 0,
 0,
 0,
 7,
 42,
 115,
 430,
 136,
 0,
 0,
 93,
 836,
 1,
 0,
 113,
 56,
 288,
 0,
 15,
 7,
 1296,
 380,
 41,
 36,
 116,
 346,
 3,
 1,
 316,
 619,
 140,
 49,
 297,
 54,
 701,
 46,
 16,
 250,
 2,
 203,
 67,
 11,
 274,
 114,
 406,
 124,
 25,
 614,
 2,
 61,
 5,
 13,
 68,
 132,
 38,
 55,
 2,
 0,
 144,
 117,
 8,
 5,
 12,
 26,
 91,
 92,
 44,
 29,
 1,
 212,
 0,
 10,
 6,
 0,
 296,
 6,
 57,
 45,
 37,
 297,
 74,
 20,
 361,
 2,
 21,
 62,
 5,
 4,
 0,
 0]

In [21]:
paper_citation.sort(key = lambda x: -x)
h = 0
for i, c in enumerate(paper_citation):
    if i + 1 > c:
        h = i
        break
h

266

The API only supports 100 resquests per 5 minutes. Here is an example of making 50 requests that retrieve the papers with keyword 'covid' and 'vaccination' and load them into a pandas dataframe       

Note here the response.json() is a dictionary with keys 'total', 'offset','next', and 'data'. Here the value of the key 'data' is of our interest, and it is a list of dictionaries. Each dictionary stores the relevant data of a paper specified in your query. 

For demonstration purpose only [paperId	year,referenceCount,citationCount,influentialCitationCount,fieldsOfStudy] are collecrted.

In [24]:
num_requests = 50
keyword = ['covid','vaccination']  
data = []
for i in range(num_requests):
    q = '+'.join(keyword)
    query = 'https://api.semanticscholar.org/graph/v1/paper/search?&query={}&fields=year,referenceCount,citationCount,influentialCitationCount,fieldsOfStudy&offest={}&limit=100'.format(q,i*100)
    response = requests.get(query)
    data += response.json()['data']

The following cell is a example of storing the retrived data into a pandas dataframe and write it into a csv file.

In [25]:
df = pd.DataFrame(data)
df

,paperId,year,referenceCount,citationCount,influentialCitationCount,fieldsOfStudy
0,8e787e925eeb7ad735a228b2b1e8dd6d9620be83,2020,43,14366,485,[Medicine]
1,97881c6577c310f50fc86738c0268896b970dfa4,2020,12,10176,341,[Medicine]
2,ca019e1e38edf9d2112ea987362da454f909ac1b,2020,4,4802,227,[Medicine]
3,dd86b3551add27004b5bf3f5fb206bec9cd69c4f,2020,18,5011,129,[Medicine]
4,d23288ee99138421d6a771a14a98a9cdddd97f98,2020,5,5014,143,[Medicine]
...,...,...,...,...,...,...
4995,ebe3f062c05b57cb1f0f0f1e73ad23d8af6aef33,2020,126,775,60,[Medicine]
4996,b638d404a28a56d5553e84bea7450712f5cf00ba,2020,61,974,48,"[Biology, Medicine]"
4997,535ae4b3525c0a104b007f190fcce59de617a56e,2020,135,927,44,"[Chemistry, Medicine]"
4998,b557fb52771f9a5ff953ca9825f38e82dff33f50,2020,48,997,44,[Medicine]
4999,525065701dcc1a0c8ee64e22a832343e663da46e,2020,41,820,44,[Medicine]

In [29]:
df.describe()

         year  referenceCount  citationCount  influentialCitationCount
count  5000.0     5000.000000    5000.000000               5000.000000
mean   2020.0       52.010000    2210.506400                 73.870000
std       0.0       56.934684    1759.102379                 61.506339
min    2020.0        0.000000     775.000000                 26.000000
25%    2020.0       16.000000    1349.500000                 45.750000
50%    2020.0       35.500000    1742.500000                 57.500000
75%    2020.0       61.250000    2395.250000                 78.500000
max    2020.0      353.000000   14367.000000                485.000000

In [31]:
df.to_csv('data.csv',index=False) # this writes a csv file to the current working directory

Search by some keyword and then filter the data by year/discipline. Get 1k datapoints for 10 different disciplines each.   

Potential disciplines to consider: [Math,Physics,Chemetry,Computer science, Aeronautics, Material Science, Civil Engineering, Biology, Medicine, scociology,economics]

For each paper, get author ID, perform a search with author ID, get papers and citation count published by the author, calculate H-index.       


train Models:        

1.Linear Regression (with kernel)           
2.NN            

The following cells demonstrate how to define and train a simple regression model using Pytorch. We will use the data collecred above. The model will be a linear regression model that takes citationCount as input and predicts influentialCitationCount.

In [84]:
import torch
import torch.nn as nn
import numpy as np
from sklearn.preprocessing import MinMaxScaler

X_train = df['citationCount'].to_numpy(dtype=np.float32)
y_train = df['influentialCitationCount'].to_numpy(dtype=np.float32)
sc = MinMaxScaler() #scale the input so the gradient won't explode. 
X_train=sc.fit_transform(X_train.reshape(-1,1))
y_train =y_train.reshape(-1,1)

X_train = torch.from_numpy(X_train)
y_train = torch.from_numpy(y_train)

input_size,output_size = 1,1

class LinearRegressionModel(torch.nn.Module):

    def __init__(self):
        super(LinearRegressionModel, self).__init__()
        self.linear = torch.nn.Linear(input_size, output_size)  

    def forward(self, x):
        y_pred = self.linear(x)
        return y_pred

model = LinearRegressionModel()
learning_rate = 0.01
l = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr =learning_rate)

Train the model:

In [85]:
num_epochs = 20000

for epoch in range(num_epochs):
     #forward feed
    y_pred = model(X_train.requires_grad_())

    #calculate the loss
    loss= l(y_pred, y_train)

    #backward propagation: calculate gradients
    loss.backward()

    #update the weights
    optimizer.step()

    #clear out the gradients from the last step loss.backward()
    optimizer.zero_grad()
    
    if epoch % 1000 == 0:
     print('epoch {}, loss {}'.format(epoch, loss.item()))

epoch 0, loss 9078.8662109375
epoch 1000, loss 2224.139404296875
epoch 2000, loss 1482.6478271484375
epoch 3000, loss 1100.35009765625
epoch 4000, loss 903.2459716796875
epoch 5000, loss 801.622314453125
epoch 6000, loss 749.2279663085938
epoch 7000, loss 722.2144775390625
epoch 8000, loss 708.2868041992188
epoch 9000, loss 701.106201171875
epoch 10000, loss 697.4038696289062
epoch 11000, loss 695.4951171875
epoch 12000, loss 694.510986328125
epoch 13000, loss 694.0035400390625
epoch 14000, loss 693.741943359375
epoch 15000, loss 693.6071166992188
epoch 16000, loss 693.5374755859375
epoch 17000, loss 693.501708984375
epoch 18000, loss 693.483154296875
epoch 19000, loss 693.4736938476562

In [86]:
model.forward(X_train).detach().numpy() #make prediction

array([[457.44882 ],
       [325.22952 ],
       [155.64798 ],
       ...,
       [ 33.368767],
       [ 35.577686],
       [ 29.992285]], dtype=float32)